body {
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-color: #e3e3e7;
}

.app {
  background-color: white;
  min-height: 90vh;
  width: 400px;
  margin: 20px auto;
  border-radius: 30px;
}

.crossed {
  background-color: #4186f7;
  color: #000000;
  font-weight: bold;
  text-decoration: line-through;
  transition: all 2s ease;
}

ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  text-align: center;
  color: #494245;
}

.container {
  display: flex;
  justify-content: center;
}

input {
  flex: 1;
  padding: 10px;
  margin: 10px;
  color: #494245;
  font-family: "Open Sans", sans-serif;
}

.btn {
  padding: 10px;
  flex: 1;
  margin: 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  border: none;
  color: #494245;
}

.add {
  margin-top: 50px;
  background: #36a853;
}

.delete {
  margin-bottom: 50px;
  background: #e94335;
}

@media all and (max-width: 450px) {
  .app {
    width: 95%;
  }

  h1 {
    font-size: 25px;
  }
}